In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
april2020_data_to_load = "Datasets/202004-citibike-tripdata.csv"
february2020_data_to_load = "Datasets/202002-citibike-tripdata.csv"
march2020_data_to_load = "Datasets/202003-citibike-tripdata.csv"
april2019_data_to_load = "Datasets/201904-citibike-tripdata.csv"
february2019_data_to_load = "Datasets/201902-citibike-tripdata.csv"
march2019_data_to_load = "Datasets/201903-citibike-tripdata.csv"
april2018_data_to_load = "Datasets/201804-citibike-tripdata.csv"
february2018_data_to_load = "Datasets/201802-citibike-tripdata.csv"
march2018_data_to_load = "Datasets/201803-citibike-tripdata.csv"


# Read Data Files and store into Pandas DataFrames
april2020_data = pd.read_csv(april2020_data_to_load)
february2020_data = pd.read_csv(february2020_data_to_load)
march2020_data = pd.read_csv(march2020_data_to_load)
april2019_data = pd.read_csv(april2019_data_to_load)
february2019_data = pd.read_csv(february2019_data_to_load)
march2019_data = pd.read_csv(march2019_data_to_load)
april2018_data = pd.read_csv(april2018_data_to_load)
february2018_data = pd.read_csv(february2018_data_to_load)
march2018_data = pd.read_csv(march2018_data_to_load)

In [2]:
#Update timestamps to simple MMDDYYYY formats.
april2020_data['time'] = pd.to_datetime(april2020_data['starttime'])
april2020_data['dates'] = april2020_data['time'].dt.date
march2020_data['time'] = pd.to_datetime(march2020_data['starttime'])
march2020_data['dates'] = march2020_data['time'].dt.date
february2020_data['time'] = pd.to_datetime(february2020_data['starttime'])
february2020_data['dates'] = february2020_data['time'].dt.date

april2019_data['time'] = pd.to_datetime(april2019_data['starttime'])
april2019_data['dates'] = april2019_data['time'].dt.date
march2019_data['time'] = pd.to_datetime(march2019_data['starttime'])
march2019_data['dates'] = march2019_data['time'].dt.date
february2019_data['time'] = pd.to_datetime(february2019_data['starttime'])
february2019_data['dates'] = february2019_data['time'].dt.date

april2018_data['time'] = pd.to_datetime(april2018_data['starttime'])
april2018_data['dates'] = april2018_data['time'].dt.date
march2018_data['time'] = pd.to_datetime(march2018_data['starttime'])
march2018_data['dates'] = march2018_data['time'].dt.date
february2018_data['time'] = pd.to_datetime(february2018_data['starttime'])
february2018_data['dates'] = february2018_data['time'].dt.date

In [3]:
#Create one dataset for all of the files
overall_report= pd.concat([april2020_data, february2020_data, march2020_data, april2019_data,
february2019_data, march2019_data, april2018_data, february2018_data, march2018_data])

In [4]:
len(overall_report)

10063176

In [5]:
#Create a database for trip count
trip_count_df = overall_report.groupby([overall_report['dates']]).size()

In [6]:
trip_count_df.head()

dates
2018-02-01    35561
2018-02-02    26313
2018-02-03    18385
2018-02-04    13959
2018-02-05    29068
dtype: int64

In [7]:
trip_duration_avg = overall_report.groupby(['dates']).mean()[["tripduration"]]
len(trip_duration_avg)

268

In [8]:
trip_duration_avg

            tripduration
dates
2018-02-01    678.999213
2018-02-02    654.315509
2018-02-03    742.198967
2018-02-04    670.291282
2018-02-05    722.232386
...                  ...
2020-04-26   1304.814417
2020-04-27   1295.996741
2020-04-28   1509.565865
2020-04-29   1211.325590
2020-04-30   1230.740957

[268 rows x 1 columns]

In [9]:
#Change the gender from numbers to strings
overall_report.loc[(overall_report.gender == 0),'gender']='unknown'
overall_report.loc[(overall_report.gender == 1),'gender']='male'
overall_report.loc[(overall_report.gender == 2),'gender']='female'

In [10]:
overall_report.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,time,dates
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656.0,E 2 St & Avenue A,40.723077,-73.985836,545.0,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,female,2020-04-01 00:00:15.280,2020-04-01
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3301.0,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,male,2020-04-01 00:02:28.943,2020-04-01
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,3605.0,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,male,2020-04-01 00:02:56.090,2020-04-01
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827.0,Halsey St & Broadway,40.685650,-73.915640,3869.0,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,male,2020-04-01 00:03:25.141,2020-04-01
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890.0,Grove St & Broadway,40.690470,-73.923511,3058.0,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,male,2020-04-01 00:05:35.279,2020-04-01

In [11]:
#Create a database for the count of trips by gender
gender_df = overall_report.groupby(['dates', 'gender']).size()

In [12]:
len(gender_df)

804

In [13]:
gender_df

dates       gender
2018-02-01  female      7526
            male       26922
            unknown     1113
2018-02-02  female      5236
            male       20344
                       ...
2020-04-29  male       13911
            unknown     1664
2020-04-30  female      3700
            male        9815
            unknown     1027
Length: 804, dtype: int64

In [14]:
#Create a database of the number of trips by the types of users
usertype_df= overall_report.groupby(['dates', 'usertype']).size()

In [15]:
usertype_df

dates       usertype
2018-02-01  Customer        635
            Subscriber    34926
2018-02-02  Customer        429
            Subscriber    25884
2018-02-03  Customer        772
                          ...
2020-04-28  Subscriber    28898
2020-04-29  Customer       3746
            Subscriber    17907
2020-04-30  Customer       2188
            Subscriber    12354
Length: 536, dtype: int64

In [17]:
#Create a database for each year (they will be rather large)
report2020= pd.concat([april2020_data, february2020_data, march2020_data])
report2019= pd.concat([april2019_data,february2019_data, march2019_data])
report2018= pd.concat([april2018_data, february2018_data, march2018_data])

In [18]:
print(len(report2020))
print(len(report2019))
print(len(report2018))

2898049
4037798
3127329

In [19]:
#Write the databases to CSV files for use in Tableau
trip_count_df.to_csv('DataSets/trip_count.csv')
trip_duration_avg.to_csv('DataSets/trip_duration_avg.csv')
gender_df.to_csv('DataSets/genders_data.csv')
usertype_df.to_csv('DataSets/usertype_data.csv')
report2020.to_csv('DataSets/2020_data.csv')
report2019.to_csv('DataSets/2019_data.csv')
report2018.to_csv('DataSets/2018_data.csv')